@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Two Connecticut Drive<br />
    New Haven, CT 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Jimmy:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Vicky:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
